@using MyParty.ViewModels
@using MyParty.Helpers

@{
    Layout = "";
}
<p>10 ближайших вечеринок:</p>
<ul>
    @foreach (PartyViewModel item in ViewBag.ListParties)
    {
        <li>
            @Html.CreateParty(item, "index", "Party")
        </li>
    }
</ul>
