@using MyParty.ViewModels
@using MyParty.Helpers

@{
    Layout = "";
}
    <p>@ViewBag.NameListParties</p>
<ol>
    @foreach (PartyViewModel item in ViewBag.ListParties)
    {
    <li>
        @Html.CreateParty(item, "index", "Party")
    </li>
    }
</ol>
