@using MyParty.Helpers

@model List<MyParty.ViewModels.PartyViewModel>

<p>Всем привет. Приходите на наши вечеринки</p>
@foreach (var item in Model)
{
    <p>
        @Html.CreateParty(item, "index", "Party")
    </p>
}

