
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Всем привет. Приходите не вечеринку</p>
        <a href="/party/index">Список участников.</a>
        <br>
        <a href="/party/vote">Проголосовать.</a>
        <br>
    </div>
</body>
</html>
